$color-start: url(noise_lines_transparent@2X.png),
  radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
$color-background: #ffffff;
$color-background_gray: #f6f6f6;
$color-footer-background: url(noise_lines_transparent@2X.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
  #211f20;
$color-logo: #f1cdb3;
$color-text: #ffffff;
$color-inactive-links: #cdcdcd;
$color-active-links: #fafafa;
$color-sections-header: #545454;
$color-sections-text: #4c4c4c;
$color-button: #f1cdb3;
$color-button-hover: #e08a4c;
$color-button-text: #292929;
$color-cards-background: #fafafa;
$color-contacts-text: #f1cdb3;
$color-smooth-text: #b2b2b2;
$color-links-hover: #ffe5d2;
$color-burger-background: #292929;

$content-width: 1200px;
$tablet-width: 768px;
$tablet-content-width: 708px;

$mobile-width: 320px;
$mobile-content-width: 300px;
