.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    justify-content: flex-start;
    gap: 42px;
    z-index: 1;
  }
}

.header__navigation {
  @media (max-width: 767px) {
    position: fixed;
    background-color: $color-burger-background;
    width: 320px;
    height: 100vh;
    right: 0;
    z-index: 2;
    top: -50px;
    padding-top: 227px;
    transform: translateX(100%);
    transition: all 0.8s ease-in-out;
  }
}

.header__navigation_active {
  display: block;
  transform: translateX(0px);
  transition: all 0.8s ease-in-out;
  // transform: ;
  opacity: 1;
}

.navigation {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  display: flex;
  @media (max-width: 767px) {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    visibility: hidden;
   
  }
  li {
    text-decoration: none;
    list-style-type: none;
    @media (max-width: 767px) {
      padding-top: 40px;
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      z-index: 3;
    }
    a {
      @media (max-width: 767px) {
        padding: 0;
      }
    }
  }
}

.navigation__link {
  padding-left: 35px;
  color: $color-inactive-links;
  text-decoration: none;
  list-style-type: none;
  // @media (max-width: 730px) {
  //   padding: 40px 0;
  // }
}

.navigation__link:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
  color: $color-text;
}

.navigation__link_active {
  color: $color-active-links;
  cursor: default;
}

.navigation__link:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
  color: $color-active-links;
}

.navigation__link_active::after {
  content: "";
  display: block;
  width: 77%;
  height: 3px;
  margin-left: 33px;
  background-color: $color-logo;

  @media (max-width: 767px) {
    width: 100%;
    height: 3px;
    margin: 0;
  }
}

.burger-menu {
  position: absolute;
  display: inline-block;
  right: 20px;
  z-index: 4; 
  transition: all 0.5s ease-in-out;
}

.burger-menu__icon {
  width: 30px;
  height: 22px;
  cursor: pointer;
  transition: 1s ease-in-out;
  position: relative;
  z-index: 3;
}

.burger-menu__icon_active {
  transition: 0.5s ease-in-out;
  transform: rotate(-90deg);
  &:hover {
    transition: 0.5s ease-in-out;
  }
}

.burger-icon__line {
  width: 30px;
  height: 2px;
  background-color: $color-logo;
  position: absolute;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  &:nth-child(3) {
    bottom: 0;
  }
  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 767px) {
    display: block;
  }
}
