.logo {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  cursor: default;
  z-index: 1;

  span {
    padding-top: 10px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #ffffff;
  }

  @media (max-width:320px) {
    padding-left: 10px;
  }
}

.logo:hover {
  transition: 0.6s ease-in-out;

  color: #fff;
}
