.start-screen {
  background: $color-start;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  @media (max-width: 950px) {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
}

.promo__content {
  color: $color-text;
  width: 460px;
  padding-top: 163px;
  padding-right: 42px;

  @media (max-width: 950px) {
    padding: 0;
    button {
      margin-left: 124px;
    }
  }
  @media (max-width: 766px) {
    max-width: 100%;
     button {
    margin-left: 0px;
  }
  }
 
  @media (max-width: 320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.promo__header {
  max-width: 310px;
  @media (max-width: 320px) {
    text-align: center;
    max-width: 230px;
    letter-spacing: 0.06em;
  }
}

.promo__text {
  color: $color-inactive-links;
  margin: 0;
  margin-top: 42px;
  @media (max-width: 320px) {
    text-align: center;
  }
}

.promo__img {
  max-width: 100%;
  height: auto;
  margin-bottom: -7px;
  @media (max-width: 950px) {
    padding-top: 100px;
    display: flex;
    align-self: flex-end;
    padding-bottom: 6px;
  }
  @media (max-width: 500px) {
    padding-top: 104px;
  }

  img {
    width: 698px;
    @media (max-width: 1150px) {
      max-width: 100%;
    }
    @media (max-width: 950px) {
      max-width: 569px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
    @media (max-width: 500px) {
      max-width: 260px  ;
    }
  }
}

.promo__button {
  width: 207px;
  height: 52px;
  margin-top: 42px;
}
